---
import { getOffre } from "../../../backend.mjs";
import Base  from '../../layouts/Base.astro';

const {id} = Astro.params;
const offre = await getOffre(id);
console.log(offre);
if(!offre){
   return Astro.redirect('/offres');
}
---

<Base titre={offre.nomMaison}>
    <h1>{offre.nomMaison}</h1>
    <img src={offre.imgURL} alt="alt">
    <ul>
        <li>{offre.adresse}</li>
    </ul>
</Base>