---
import Card from "../../components/Card.astro";
import Base from "../../layouts/Base.astro";
import { getOffres, filterByPrix } from "../../../backend.mjs";
let message = "";
let offres = [];
if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    const minPrix = parseInt(data.get("minPrix"));
    const maxPrix = parseInt(data.get("maxPrix"));

    if (minPrix > 0 && maxPrix > 0 && maxPrix > minPrix) {
        offres = await filterByPrix(minPrix, maxPrix);
        if (offres.length === 0) {
            message = `Pas d'offres entre ${minPrix}€ et ${maxPrix}€`;
        } else {
            message = `Liste des offres entre ${minPrix}€ et ${maxPrix}€`;
        }
    } else {
        message = "Veuillez entrer des valeurs valides pour le prix.";
        offres = await getOffres();
    }
} else {
    offres = await getOffres();
}
---

<Base title="Offres">
    <h1 class="text-4xl my-4">Découvrez toutes les offres</h1>
    <p>
        Explorez notre sélection exclusive de biens immobiliers. Que vous
        recherchiez une maison familiale, un appartement moderne ou un local
        professionnel, notre page "Offres" regroupe des opportunités variées
        adaptées à tous les projets. Utilisez nos filtres personnalisés pour
        affiner votre recherche et découvrez des propriétés qui répondent à vos
        critères. Votre futur bien n’attend plus que vous !
    </p>

    <form
        class="flex flex-col gap-4 my-6 p-4 bg-gray-100 rounded-lg shadow-sm"
        action="/offres"
        method="POST"
    >
        <input
            type="number"
            name="minPrix"
            placeholder="Prix minimum"
            min="1"
            class="w-full p-3 border border-gray-300 rounded-md focus:ring-2 focus:ring-indigo-500 focus:outline-none"
        />
        <input
            type="number"
            name="maxPrix"
            placeholder="Prix maximum"
            min="1"
            class="w-full p-3 border border-gray-300 rounded-md focus:ring-2 focus:ring-indigo-500 focus:outline-none"
        />
        <input
            type="submit"
            value="Filtrer par prix"
            class="w-full p-3 bg-indigo-500 text-white rounded-lg hover:bg-indigo-600 transition font-semibold cursor-pointer"
        />
    </form>
    <p class="text-center text-red-500">{message}</p>

    <div x-data="{showFav: false, grid : true}">
        <button
            @click="showFav = !showFav"
            class="border rounded bg-gray-200 p-1 m-2"
            :class="{'bg-blue-200':showFav}"
        >
            <span x-show="showFav">Afficher les favoris</span>
            <span x-show="!showFav">Afficher tout</span>
        </button>
        <button
            @click="grid = !grid"
            class="border rounded bg-gray-200 p-1 m-2"
            :class="{'bg-blue-200':showFav}"
        >
            <span x-show="grid">Afficher en liste</span>
            <span x-show="!grid">Afficher en grid</span>
        </button>
        <div class="*:bg-slate-300 *:rounded-sm *:p-1">
            <a href={`/offres/surface/${50}`}>Supérieur à 50m²</a>
            <a href={`/offres/surface/${80}`}>Supérieur à 80m²</a>
            <a href={`/offres/prix/${3000}`}>Inférieur à 3000$</a>
            <a href={`/offres/prix/${4000}`}>Inférieur à 4000$</a>
        </div>
        <div
            x-show="showFav"
            x-transition
            class="gap-4"
            :class="grid ? 'grid grid-cols-3':'flex flex-col'"
        >
            {offres.map((offre) => <Card {...offre} />)}
        </div>
        <div
            x-show="!showFav"
            x-transition
            class="gap-4"
            :class="grid ? 'grid grid-cols-3':'flex flex-col'"
        >
            {offres.map((offre) => offre.favori && <Card {...offre} />)}
        </div>
    </div>
</Base>
